/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.contenedor {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 500px) {
    .contenedor {
        width: 95%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }
    

}
.carrusel {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carrusel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrusel-inner img {
    width: 100%;
    flex-shrink: 0;
    border-radius: 10px;
}

.carrusel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.carrusel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Estilos responsivos */
@media (max-width: 500px) {
    .carrusel-btn {
        padding: 8px;
        font-size: 16px;
    }

    .carrusel-inner img {
        border-radius: 5px;
    }
}

@media (max-width: 400px) {
    .carrusel-btn {
        padding: 6px;
        font-size: 14px;
    }

    .carrusel-inner img {
        border-radius: 3px;
    }
}